@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #fc3e25;
  --primary-light: #f96b58;
  --secondary: whitesmoke;
  --secondary2: white;
  --black: black;
  --box-shadow: 8px 8px 24px rgba(188, 188, 188, 0.439);
  --box-shadow2: 4px 4px 12px rgba(188, 188, 188, 0.439);
  --box-shadow3: 2px 2px 24px rgba(188, 188, 188, 0.25);
  --box-shadow4: 8px 8px 24px rgb(71, 71, 71);
}
.dark {
  --primary: red;
  --secondary: black;
}

a,
button {
  cursor: pointer;
}

main {
  background: url(../public/imgs/background/white1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 1rem;
  height: 100vh;
}

/* Global Classes Styling */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky {
  position: sticky;
  top: 1rem;
  height: 0vh;
}
.relative {
  position: relative;
  top: 0;
}
.grid-body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 0;
  background: var(--secondary2);
}

/* Logo Component Styling */
.logo #yan {
  color: var(--primary);
}
.logo #hub {
  color: var(--black);
}
.logo #yan,
.logo #hub {
  font-weight: 700;
}
.logo-small {
  font-size: 20px;
}
.logo-big {
  font-size: 25px;
}

/* Bell Component Styling */
.announcement {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: var(--primary);
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow2);
  display: grid;
  place-items: center;
  border-radius: 50%;
}

/* Leaderboard component styling */
.grid-body aside .list {
  margin: 4rem 1rem;
}
.grid-body aside .list ul {
  list-style-type: none;
}
.grid-body aside .list ul li {
  margin-top: 0.7rem;
  background-color: var(--secondary2);
  border-radius: 15px;
  box-shadow: var(--box-shadow3);
  padding: 0.5rem;
}
.grid-body aside .list ul li small {
  text-align: right;
  font-size: 12px;
}
.grid-body aside .list ul .first {
  background-color: goldenrod;
  color: var(--secondary2);
  font-weight: 600;
}
.grid-body aside {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  padding: 1rem;
}

/* Nav Component Styling */
.grid-body nav {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  padding: 0.5rem;
}
.grid-body nav .avatar {
  height: 100px;
  width: 100px;
  background: url(../public/imgs/user/user-12.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid var(--primary);
  margin-top: 3rem;
}
.grid-body nav .username {
  text-align: center;
}
.grid-body nav .nav-list {
  margin: 4rem 1rem;
}
.grid-body nav .nav-list ul {
  list-style-type: none;
}
.grid-body nav .nav-list ul li {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.grid-body nav .nav-list ul li .link {
  color: #000000;
  text-decoration: none;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.grid-body nav .nav-list ul li .active {
  background-color: var(--primary);
  color: var(--secondary2);
  border: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  padding: 0.3rem;
  padding-left: 1rem;
}
.grid-body nav .logout {
  position: fixed;
  bottom: 0;
  margin: 2rem 1rem;
  display: flex;
  align-items: center;
  color: var(--primary);
}
.grid-body nav .logout .link {
  color: var(--primary);
  text-decoration: none;
  width: 100%;
  font-weight: 600;
  margin-left: 0.3rem;
}

/* SearchBox Component Styling */
.search-box {
  margin: 1rem 0;
}
.search-box .inp-holder {
  background-color: var(--secondary2);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--black);
  border-radius: 5px;
}
.search-box .inp-holder input {
  padding: 0.5rem;
  width: 90%;
  border: none;
  outline: none;
}
.search-box .inp-holder .search-icon {
  /* width: 10%; */
  font-size: 20px;
  color: var(--black);
}
/* Register styling */

.register-main .container {
  margin-top: 2rem;
  box-shadow: var(--box-shadow);
  width: 85%;
  height: 80vh;
  background-color: var(--secondary);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.register-main .lhs,
.register-main .rhs {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 100%;
}
.register-main .lhs {
  display: grid;
  place-items: center;
  background: url(../public/imgs/illustrations/illustration5.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.register-main .rhs {
  padding: 1rem;
}
.register-main .rhs form {
  margin: 1rem;
}
.register-main .rhs form .inp-handler {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: var(--box-shadow2);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.register-main .rhs form .inp-handler input {
  border: none;
  width: 90%;
  background-color: transparent;
  outline: 0;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.register-main .rhs form .btn-handler {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.register-main .rhs form .btn-handler button {
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

/* Login styling */

.login-main .container {
  margin-top: 2rem;
  box-shadow: var(--box-shadow);
  width: 85%;
  height: 80vh;
  background-color: var(--secondary);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.login-main .lhs,
.login-main .rhs {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  width: 100%;
}
.login-main .rhs {
  display: grid;
  place-items: center;
  background: url(../public/imgs/illustrations/illustration3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-main .lhs {
  padding: 1rem;
}
.login-main .lhs form {
  margin: 1rem;
}
.login-main .lhs form .inp-handler {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: var(--box-shadow2);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.login-main .lhs form .inp-handler input {
  border: none;
  width: 90%;
  background-color: transparent;
  outline: 0;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.login-main .lhs form .btn-handler {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.login-main .lhs form .btn-handler button {
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

/* Dashboard Page Styling */
.dashboard-main .body {
  width: 100%;
  height: 100vh;
  background: transparent;
  padding: 1rem;
}
.dashboard-main .body .heading {
  margin-top: 3rem;
}
.dashboard-main .body .layout {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-top: 1rem;
}
.dashboard-main .body .layout strong {
  color: var(--primary);
}
.dashboard-main .body .layout .layout1 .total-xp,
.dashboard-main .body .layout .layout1 .position {
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow2);
  width: 70%;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  border-left: 3px solid var(--primary);
}
.dashboard-main .body .layout .layout2 {
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow2);
  width: 90%;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  border-left: 3px solid var(--primary);
}
.dashboard-main .body .tasks-layout {
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow2);
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
}
.dashboard-main .body .tasks-layout table {
  width: 100%;
  text-align: left;
}
.dashboard-main .body .tasks-layout table td {
  padding: 1rem 0;
}
.dashboard-main .body .tasks-layout .link-container {
  width: 100%;
}
.dashboard-main .body .tasks-layout .link-container .link {
  display: block;
  text-align: right;
  color: blue;
  text-decoration: none;
  font-weight: 600;
}
.dashboard-main .body .user-highlights {
  margin: 3rem 0rem;
  max-width: 800px;
}
.dashboard-main .body .user-highlights .container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
}
.dashboard-main .body .user-highlights .container .user {
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow3);
  width: 150px;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-transform: capitalize;
}
.dashboard-main .body .user-highlights .container .user .pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

/* Tasks Page Styling */
.tasks-main .body {
  padding: 1rem;
}
.tasks-main .body .createTaskBtn {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.tasks-main .body .createTaskBtn button {
  background-color: var(--primary);
  color: var(--secondary2);
  border: none;
  outline: none;
  padding: 0.3rem 0.5rem;
  border-radius: 2px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.tasks-main .body .tasks {
  width: 100%;
  height: 500px;
  margin: 1rem 0;
  border-radius: 5px;
}

.task-form-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  transform: translateY(100%);
}
.task-form-container form {
  background-color: var(--secondary2);
  width: 100%;
  height: 100vh;
  box-shadow: var(--box-shadow4);
  border-radius: 30px;
  padding: 0.5rem;
}
.task-form-open {
  transform: translateY(8%);
}
.task-form-container form .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.task-form-container form .header .icon {
  font-size: 25px;
  cursor: pointer;
}
.task-form-container form .inp-handler {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.task-form-container form .inp-handler .inp-holder {
  width: 90%;
  background-color: var(--secondary2);
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: var(--box-shadow2);
}
.task-form-container form .inp-handler .inp-holder input,
.task-form-container form .inp-handler .inp-holder select {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem;
}
.task-form-container form .btn-handler {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}
.task-form-container form .btn-handler button {
  width: 50%;
  background-color: var(--primary);
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--secondary2);
  font-size: 15px;
  font-weight: 600;
  box-shadow: var(--box-shadow);
}
.task-form-container form .btn-handler button:hover {
  box-shadow: none;
}

/* Videos Page Styling */
.video-main .body {
  padding: 1rem;
}
.video-main .body .createVideoBtn {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.video-main .body .createVideoBtn button {
  background-color: var(--primary);
  color: var(--secondary2);
  border: none;
  outline: none;
  padding: 0.3rem 0.5rem;
  border-radius: 2px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.video-main .create-video-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
}

.video-main .hide {
  scale: 0;
}

.video-main .create-video-container form {
  background-color: white;
  box-shadow: var(--box-shadow);
  width: 500px;
  padding: 1rem;
  border-radius: 10px;
}
.video-main .create-video-container form .header {
  display: flex;
  justify-content: space-between;
}
.video-main .create-video-container form .header .icon {
  cursor: pointer;
}

.video-main .create-video-container form .inp-handler .inp-holder {
  width: 90%;
  background-color: var(--secondary2);
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: var(--box-shadow2);
}
.video-main .create-video-container form .inp-handler .inp-holder input,
.video-main .create-video-container form .inp-handler .inp-holder select {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem;
}
.video-main .create-video-container form .btn-handler {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}
.video-main .create-video-container form .btn-handler button {
  width: 50%;
  background-color: var(--primary);
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--secondary2);
  font-size: 15px;
  font-weight: 600;
  box-shadow: var(--box-shadow);
}
.video-main .create-video-container form .btn-handler button:hover {
  box-shadow: none;
}

.video-main .videos {
  margin-top: 1rem;
}
.video-main .videos .header {
  display: flex;
  justify-content: space-between;
}
.video-main .videos .header select {
  padding: 0.3rem;
  outline: 0;
}
.video-main .videos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}
.video-main .videos-container .video {
  background: var(--secondary2);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  height: auto;
  width: 90%;
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}
.video-main .videos-container .video .vid-icon {
  display: grid;
  place-content: center;
  margin: 1rem 0;
}
.video-main .videos-container .video .vid-icon img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.video-main .videos-container .video .vid-details strong {
  display: table;
}
.video-main .videos-container .video .vid-details .tag {
  padding: 0.3rem;
  color: var(--secondary2);
  border-radius: 4px;
  font-size: 10px;
}
.video-main .videos-container .video .vid-details .danger {
  background-color: #fc3e25;
}
.video-main .videos-container .video .vid-details .success {
  background-color: #10c319;
}
.video-main .videos-container .video .vid-details .warning {
  background-color: #ff9900;
}
.video-main .vid-details-modal {
  height: 100vh;
  width: 100%;
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow4);
  position: fixed;
  top: 0;
  transform: translateY(60%);
  padding: 1rem;
}
.video-main .hide-down {
  transform: translateY(100%);
}
.video-main .vid-details-modal .header {
  display: flex;
  justify-content: space-between;
}
.video-main .vid-details-modal .header .icon {
  cursor: pointer;
}
.video-main .vid-details-modal .details {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.video-main .vid-details-modal .details .details-container {
  margin: 1rem;
}
/* Users Page Styling */
.users-main .body {
  padding: 1rem;
}
