@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #fc3e25;
  --primary-light: #f96b58;
  --secondary: #f5f5f5;
  --secondary2: #fff;
  --text1: #000;
  --text2: #fff;
  --warning: #ed960a;
  --danger: #ee1111;
  --success: #128512;
  --blue: rgb(4, 59, 131);
  --box-shadow: 8px 8px 24px rgba(188, 188, 188, 0.439);
  --box-shadow2: 4px 4px 12px rgba(188, 188, 188, 0.439);
  --box-shadow3: 2px 2px 24px rgba(188, 188, 188, 0.25);
  --box-shadow4: 8px 8px 24px rgb(71, 71, 71);
}
.dark {
  --primary: red;
  --secondary: black;
  --secondary2: black;
  --text1: #fff;
  --text2: #000;
}

a,
button {
  cursor: pointer;
}

main {
  background: url(../public/imgs/background/white1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 1rem;
  height: 100vh;
}

/* Global Classes Styling */
.danger {
  background-color: var(--danger);
}
.success {
  background-color: var(--success);
}
.warning {
  background-color: var(--warning);
}
.text-danger {
  color: var(--danger);
}
.text-warning {
  color: var(--warning);
}
.text-success {
  color: var(--success);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky {
  position: fixed;
  top: 1rem;
  width: 15%;
}
.relative {
  position: relative;
  top: 0;
}
.grid-body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 0;
  background: var(--secondary2);
}

/* Logo Component Styling */
.logo #yan {
  color: var(--primary);
}
.logo #hub {
  color: var(--text1);
}
.logo #yan,
.logo #hub {
  font-weight: 700;
}
.logo-small {
  font-size: 20px;
}
.logo-big {
  font-size: 25px;
}

/* Bell Component Styling */
.announcement {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: var(--primary);
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow2);
  display: grid;
  place-items: center;
  border-radius: 50%;
}

/* Leaderboard component styling */
.grid-body aside .list {
  margin: 4rem 1rem;
}
.grid-body aside .list ul {
  list-style-type: none;
}
.grid-body aside .list ul li {
  margin-top: 0.7rem;
  background-color: var(--secondary2);
  border-radius: 15px;
  box-shadow: var(--box-shadow3);
  padding: 0.5rem;
}
.grid-body aside .list ul li small {
  text-align: right;
  font-size: 12px;
}
.grid-body aside .list ul .first {
  background-color: goldenrod;
  color: var(--secondary2);
  font-weight: 600;
}
.grid-body aside {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  padding: 1rem;
}

/* Nav Component Styling */
.grid-body nav {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  padding: 0.5rem;
}
.grid-body nav .avatar {
  height: 100px;
  width: 100px;
  background: url(../public/imgs/user/user-12.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid var(--primary);
  margin-top: 3rem;
}
.grid-body nav .username {
  text-align: center;
}
.grid-body nav .nav-list {
  margin: 4rem 1rem;
}
.grid-body nav .nav-list ul {
  list-style-type: none;
}
.grid-body nav .nav-list ul li {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.grid-body nav .nav-list ul li .link {
  color: #000000;
  text-decoration: none;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.grid-body nav .nav-list ul li .active {
  background-color: var(--primary);
  color: var(--secondary2);
  border: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  padding: 0.3rem;
  padding-left: 1rem;
}
.grid-body nav .logout {
  position: fixed;
  bottom: 0;
  margin: 2rem 1rem;
  display: flex;
  align-items: center;
  color: var(--primary);
}
.grid-body nav .logout .link {
  color: var(--primary);
  text-decoration: none;
  width: 100%;
  font-weight: 600;
}

/* SearchBox Component Styling */
.search-box {
  margin: 1rem 0;
}
.search-box .inp-holder {
  background-color: var(--secondary2);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--text1);
  border-radius: 5px;
}
.search-box .inp-holder input {
  padding: 0.5rem;
  width: 90%;
  border: none;
  outline: none;
}
.search-box .inp-holder .search-icon {
  /* width: 10%; */
  font-size: 20px;
  color: var(--text1);
}

/* VideoDetails Component Styling */
.vid-details-container {
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.03); */
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
}
.open {
  transform: translateY(0%);
  transition: 0.3s;
}
.close {
  transform: translateY(100%);
  transition: 0.7s;
}
.vid-details-container .vid-details-modal {
  background-color: var(--secondary2);
  height: 50%;
  width: auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  /* border: 3px solid var(--primary); */
  display: fixed;
  top: 0;
  transform: translateY(110%);
}
.vid-details-container .vid-details-modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.vid-details-container .vid-details-modal .banner {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.vid-details-container .vid-details-modal .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.vid-details-container .vid-details-modal .details .details-container {
  margin: 0.5rem;
}
.vid-details-container .vid-details-modal .btn-holder {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.vid-details-container .vid-details-modal .btn-holder button {
  background-color: var(--primary);
  color: var(--text2);
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 3px;
  margin: 1rem 0;
}

/* Assign Modal Component Styling */

.assign-modal-container {
  height: 100vh;
  width: 100%;
  top: 0;
  position: fixed;
}
.assign-modal-open {
  transform: translateY(0%);
}
.assign-modal-close {
  transform: translateY(100%);
}
.assign-modal-container .assign-modal {
  padding: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform: translateY(10%);
  height: 100vh;
  width: 100%;
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow4);
  overflow: auto;
  position: fixed;
  bottom: 0;
}
.assign-modal-container .assign-modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.assign-modal-container .assign-modal .body {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.assign-modal-container .assign-modal .body .btn-holder {
  margin: 2rem 0;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
.assign-modal-container .assign-modal .body .btn-holder button {
  width: 60%;
  padding: 0.5rem;
  margin-bottom: 2rem;
  background-color: var(--primary);
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--secondary2);
}
.assign-modal-container .assign-modal .body .assignees {
  display: grid;
  grid-template-columns: 0.6fr 1fr 3fr;
  align-items: flex-start;
  background-color: var(--secondary2);
  min-width: 200px;
  padding: 1rem;
  box-shadow: var(--box-shadow2);
  border-radius: 4px;
  margin: 1rem 3%;
  flex-basis: 25%;
  text-transform: capitalize;
}
.assign-modal-container .assign-modal .body .assignees #checkbox {
  accent-color: var(--primary);
  width: 17px;
  height: 17px;
  cursor: pointer;
}

/* Back Component Styling */
.back-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary2);
  width: 100%;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  padding: 1rem 0.5rem;
  box-shadow: var(--box-shadow2);
  border-radius: 5px;
}
.back-icon {
  font-size: 20px;
  cursor: pointer;
}

/* Register Page Styling */

.register-main .container {
  margin-top: 2rem;
  box-shadow: var(--box-shadow);
  width: 85%;
  height: 80vh;
  background-color: var(--secondary);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.register-main .lhs,
.register-main .rhs {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 100%;
}
.register-main .lhs {
  display: grid;
  place-items: center;
  background: url(../public/imgs/illustrations/illustration5.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.register-main .rhs {
  padding: 1rem;
}
.register-main .rhs form {
  margin: 1rem;
}
.register-main .rhs form .inp-handler {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: var(--box-shadow2);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.register-main .rhs form .inp-handler input {
  border: none;
  width: 90%;
  background-color: transparent;
  outline: 0;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.register-main .rhs form .btn-handler {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.register-main .rhs form .btn-handler button {
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

/* Login styling */

.login-main .container {
  margin-top: 2rem;
  box-shadow: var(--box-shadow);
  width: 85%;
  height: 80vh;
  background-color: var(--secondary);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.login-main .lhs,
.login-main .rhs {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  width: 100%;
}
.login-main .rhs {
  display: grid;
  place-items: center;
  background: url(../public/imgs/illustrations/illustration3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-main .lhs {
  padding: 1rem;
}
.login-main .lhs form {
  margin: 1rem;
}
.login-main .lhs form .inp-handler {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: var(--box-shadow2);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.login-main .lhs form .inp-handler input {
  border: none;
  width: 90%;
  background-color: transparent;
  outline: 0;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.login-main .lhs form .btn-handler {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.login-main .lhs form .btn-handler button {
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

/* Dashboard Page Styling */
.dashboard-main .body {
  width: 100%;
  height: 100vh;
  background: transparent;
  padding: 1rem;
}
.dashboard-main .body .heading {
  margin-top: 3rem;
}
.dashboard-main .body .layout {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-top: 1rem;
}
.dashboard-main .body .layout strong {
  color: var(--primary);
}
.dashboard-main .body .layout .layout1 .total-xp,
.dashboard-main .body .layout .layout1 .position {
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow2);
  width: 70%;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  border-left: 3px solid var(--primary);
}
.dashboard-main .body .layout .layout2 {
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow2);
  width: 90%;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  border-left: 3px solid var(--primary);
}
.dashboard-main .body .tasks-layout {
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow2);
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
}
.dashboard-main .body .tasks-layout table {
  width: 100%;
  text-align: left;
}
.dashboard-main .body .tasks-layout table td {
  padding: 1rem 0;
}
.dashboard-main .body .tasks-layout .link-container {
  width: 100%;
}
.dashboard-main .body .tasks-layout .link-container .link {
  display: block;
  text-align: right;
  color: blue;
  text-decoration: none;
  font-weight: 600;
}
.dashboard-main .body .user-highlights {
  margin: 3rem 0rem;
  max-width: 800px;
}
.dashboard-main .body .user-highlights .container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
}
.dashboard-main .body .user-highlights .container .user {
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow3);
  width: 150px;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-transform: capitalize;
}
.dashboard-main .body .user-highlights .container .user .pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

/* Tasks Page Styling */
.tasks-main .body {
  padding: 1rem;
}
.tasks-main .body .createTaskBtn {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.tasks-main .body .createTaskBtn button {
  background-color: var(--primary);
  color: var(--secondary2);
  border: none;
  outline: none;
  padding: 0.3rem 0.5rem;
  border-radius: 2px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.tasks-main .body .header .sort-nav {
  width: 97%;
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 5px;
}
.tasks-main .body .header .sort-nav button {
  width: 40%;
  padding: 0.5rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 15px;
  background: transparent;
}
.tasks-main .body .header .sort-nav .active {
  background-color: var(--primary);
  color: var(--secondary2);
}

.tasks-main .body .tasks-container {
  margin: 1rem 0.5rem;
  /* display: grid;
  grid-template-columns: 1fr; */
}
.tasks-main .body .tasks-container .task-box {
  background-color: var(--secondary2);
  /* border-left: 5px solid var(--primary); */
  width: 96%;
  height: 100px;
  border-radius: 10px;
  box-shadow: var(--box-shadow2);
  margin: 1rem;
  margin-left: 0;
  padding: 0.5rem 1.5rem;
}
.tasks-main .body .tasks-container .task-box .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.tasks-main .body .tasks-container .task-box .header #status {
  padding: 0.2rem;
  font-size: 10px;
  border-radius: 4px;
  color: var(--secondary2);
}
.tasks-main .body .tasks-container .task-box .users {
  display: flex;
  justify-content: flex-start;
}
.tasks-main .body .tasks-container .task-box .users img {
  border: 3px solid var(--secondary2);
  width: 20px;
  height: 20px;
}

.task-form-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  transform: translateY(100%);
}
.task-form-container form {
  background-color: var(--secondary2);
  width: 100%;
  height: 100vh;
  box-shadow: var(--box-shadow4);
  border-radius: 30px;
  padding: 0.5rem;
}
.task-form-open {
  transform: translateY(8%);
}
.task-form-container form .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.task-form-container form .header .icon {
  font-size: 25px;
  cursor: pointer;
}
.task-form-container form .inp-handler {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.task-form-container form .inp-handler .inp-holder {
  width: 90%;
  background-color: var(--secondary2);
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: var(--box-shadow2);
}
.task-form-container form .inp-handler .inp-holder input,
.task-form-container form .inp-handler .inp-holder select {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem;
}
.task-form-container form .btn-handler {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}
.task-form-container form .btn-handler button {
  width: 50%;
  background-color: var(--primary);
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--secondary2);
  font-size: 15px;
  font-weight: 600;
  box-shadow: var(--box-shadow);
}
.task-form-container form .btn-handler button:hover {
  box-shadow: none;
}

/* Task Page Styling */
.task-main .body {
  padding: 1rem;
}
.task-main .body .task-container {
  padding: 1rem 0;
}
.task-main .body .task-container .vid-single-task {
  display: block;
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow2);
  margin: 1rem 0;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-main .body .task-container .vid-single-task button {
  background-color: var(--blue);
  color: white;
  padding: 0.3rem 0.5rem;
  border: none;
  outline: none;
  border-radius: 4px;
}

/* Videos Page Styling */
.videos-main .body {
  padding: 1rem;
}
.videos-main .body .createVideoBtn {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.videos-main .body .createVideoBtn button {
  background-color: var(--primary);
  color: var(--secondary2);
  border: none;
  outline: none;
  padding: 0.3rem 0.5rem;
  border-radius: 2px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.videos-main .create-video-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
}

.videos-main .hide {
  scale: 0;
}

.videos-main .create-video-container form {
  background-color: white;
  box-shadow: var(--box-shadow);
  width: 500px;
  padding: 1rem;
  border-radius: 10px;
}
.videos-main .create-video-container form .header {
  display: flex;
  justify-content: space-between;
}
.videos-main .create-video-container form .header .icon {
  cursor: pointer;
}

.videos-main .create-video-container form .inp-handler .inp-holder {
  width: 90%;
  background-color: var(--secondary2);
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: var(--box-shadow2);
}
.videos-main .create-video-container form .inp-handler .inp-holder input,
.videos-main .create-video-container form .inp-handler .inp-holder select {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem;
}
.videos-main .create-video-container form .btn-handler {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}
.videos-main .create-video-container form .btn-handler button {
  width: 50%;
  background-color: var(--primary);
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--secondary2);
  font-size: 15px;
  font-weight: 600;
  box-shadow: var(--box-shadow);
}
.videos-main .create-video-container form .btn-handler button:hover {
  box-shadow: none;
}

.videos-main .videos {
  margin-top: 1rem;
}
.videos-main .videos .header {
  display: flex;
  justify-content: space-between;
}
.videos-main .videos .header select {
  padding: 0.3rem;
  outline: 0;
}
.videos-main .videos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}
.videos-main .videos-container .video {
  background: var(--secondary2);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  height: auto;
  width: 90%;
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}
.videos-main .videos-container .video .vid-icon {
  display: grid;
  place-content: center;
  margin: 1rem 0;
}
.videos-main .videos-container .video .vid-icon img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Video Page Styling */
.video-main {
  padding: 1rem;
}
.video-main .body .createVideoBtn {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.video-main .body .createVideoBtn button {
  background-color: var(--primary);
  color: var(--secondary2);
  border: none;
  outline: none;
  padding: 0.3rem 0.5rem;
  border-radius: 2px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.video-main .body .videos .header {
  margin-top: 1rem;
}
.video-main .body .videos .header .banner {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}
.video-main .body .videos .videos-container {
  margin-top: 1rem;
}
.video-main .body .videos .videos-container .select {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0.5rem;
}
.video-main .body .videos .videos-container select {
  padding: 0.2rem;
  outline: none;
}
.video-main .body .videos .videos-container .video {
  background-color: var(--secondary2);
  box-shadow: var(--box-shadow3);
  border-radius: 3px;
  padding: 1rem;
  display: flex;
  margin: 1rem 0;
  cursor: pointer;
}
.video-main .body .videos .videos-container .video:hover {
  padding: 1rem;
  box-shadow: var(--box-shadow);
}
.video-main .body .videos .videos-container .video .img {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video-main .body .videos .videos-container .video .details {
  margin-left: 1rem;
}
.video-main .body .videos .videos-container .video .details strong {
  display: block;
  margin-bottom: 0.8rem;
}
.video-main .body .videos .videos-container .video .details .status {
  color: var(--secondary2);
  font-size: 12px;
  padding: 0.2rem;
  border-radius: 3px;
}
/* Users Page Styling */
.users-main .body {
  padding: 1rem;
}

.users-main .admins-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.users-main .admins-container h3 {
  flex-basis: 100%;
  color: var(--primary);
}
.users-main .user-box {
  width: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: var(--box-shadow2);
  margin: 1rem;
  border-radius: 4px;
  padding: 0.5rem;
}
.users-main #admin {
  background-image: url(../public/imgs/background/white1.jpg);
}
.users-main #editor {
  background-image: url(../public/imgs/background/white3.jpg);
}
.users-main .user-box p {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
}
